<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>HOME RestFinal</title>
  </head>
  <body>
    <h2>Rest Final Project</h2>
    <h2>Daily Exercise Log</h2>
      <div>
	      <p>This is my final project for CS 493 at OSU.</p>
	      <p>We are tasked with creating a fully functional API. There are some basic requirments but we are given a lot of room for creativity.</p>
	      <p>In order to interact with all the API funcationalities you need to sign in using your google account.</p>
	      <p>Click the button below to begin the process</p>
      </div>
      
	<div>
		<button onclick="location.href=' https://accounts.google.com/o/oauth2/v2/auth?client_id=318163712449-qa5ron45cjmlls1l8e9kg2na2o06gvf1.apps.googleusercontent.com&scope=profile email&redirect_uri=http://final-santacrm.appspot.com/credentials&response_type=code'" type="button">
         Login</button>
	</div>
  </body>
</html>


